.container_page {
    background-color: white;
    height: 80vh;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.container_icons_input {
    padding: 0px 10px;
}

.logo {
    height: 5rem;
}

svg {
    height: 30px;
}

input {
    border: solid 1px gray;
}

/* pantallas menores a  */
@media screen and (max-width: 768px) {
    .container_page {
        width: 90vw;
    }

    .container_pokemon_list {
        justify-content: flex-start;
    }

    .container_pokemon_list>div {
        width: 150px;
    }
}

/* pantallas mayores a  */
@media screen and (min-width: 769px) {
    .container_page {
        width: 768px;
    }
}

@media screen and (min-width: 600px) {
    input {
        width: 360px !important;
    }
}

.container_pokemon_list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
}
 
/* Estilos para pantallas pequeñas (cuando la pantalla es estrecha) */
@media screen and (max-width: 767px) {
    .container_pokemon_list {
        justify-content: center;
    }

    .container_pokemon_list>div {
        width: 45%;
    }
}