.container_page {
    background-color: white;
    height: 75vh;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-top: -31px;
}

.container_icons_input {
    padding: 0px 10px;
}

.logo {
    height: 5rem;
}

svg {
    height: 30px;
}

input {
    border: solid 1px gray;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 10px;
}

/* pantallas menores a  */
@media screen and (max-width: 768px) {
    .container_page {
        width: 90vw;
    }

    .container_pokemon_list>div {
        width: 150px;
    }
}

/* pantallas mayores a  */
@media screen and (min-width: 769px) {
    .container_page {
        width: 768px;
    }
}

@media screen and (min-width: 600px) {
    input {
        width: 360px !important;
    }
}

.container_pokemon_list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    min-width: 150px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}


.card:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.details_pokemon {
    background: lightgray;
    height: 100%;
    width: 100%;
    border-radius: 50px 50px 10px 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    /* justify-content: end; */
}

/* Estilos para pantallas pequeñas (cuando la pantalla es estrecha) */
@media screen and (max-width: 767px) {
    .container_pokemon_list {
        justify-content: center;
    }

    .container_pokemon_list>div {
        width: 45%;
    }
}