@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: lightgray;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato, sans-serif;
}

.logo_pokemon{
    width: 100px;
    height: 100px;
}